<!-- Counters -->
            <div class="col-xs-12">
                <section class="counters white-box">
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-cart"></i></span>
                        <h2>2540</h2>
                        <p>Product sales</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-news-paper"></i></span>
                        <h2>400</h2>
                        <p>Line of Code</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-photo"></i></span>
                        <h2>8613</h2>
                        <p>Taking photos</p>
                    </div>
                    <div class="counters-one">
                        <span class="counters-one-icon"><i class="pe-7s-tools"></i></span>
                        <h2>1024</h2>
                        <p>Bug fixed</p>
                    </div>
                </section>
            </div>