<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-xs-12">
                <div class="footer-section">
                    <h3 class="footer-section-title">Site Map</h3>
                    <ul class="footer-section-content">                   
                        <li class="footer-section-content-response">                            
                            <div class="footer-section-content-response-wrapper">
                                <a href='/about'>About</a>
                            </div>                            
                        </li>  
                        <li class="footer-section-content-response">                            
                            <div class="footer-section-content-response-wrapper">
                                <a href='/portfolio'>Portfolio</a>
                            </div>                            
                        </li> 
                        <li class="footer-section-content-response">                            
                            <div class="footer-section-content-response-wrapper">
                                <a href='/tags'>Blog Posts</a>
                            </div>                            
                        </li> 
                        <li class="footer-section-content-response">                            
                            <div class="footer-section-content-response-wrapper">
                                <a href='/tags'>Tech Blog</a>
                            </div>                            
                        </li>  
                        <li class="footer-section-content-response">                            
                            <div class="footer-section-content-response-wrapper">
                                <a href='/contact'>Contact</a>
                            </div>                            
                        </li>                   
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="footer-section">
                    <h3 class="footer-section-title">Follow me on Twitter.</h3>
                    <ul class="footer-section-content" >
                        <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/DiegoFLafuente">Tweets by DiegoFLafuente</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>                      

                    </ul>
                </div>
            </div>


            <div class="col-md-4 col-xs-12">
                <div class="footer-section border-bottom">
                    </img src="/img/logo-grey.png" alt="" class="footer-section-title-/img" data-rjs="2">
                    <div class="footer-section-content">
                        <p class="font-primary footer-section-content-about">
                            D -Blog is a responsive, beautiful, <span class="black">creative & unique</span> wordpress
                            theme best suited for blogs & personal
                            portfolio showcases. It’s
                            easy to use &amp; setup, <span class="black">SEO friendly</span> and has top notch standard
                            compliant code.
                        </p>
                    </div>
                </div>

                <div class="footer-section">
                    <h3 class="footer-section-title footer-section-newsletter">Contact Me</h3>
                    <div class="footer-section-content">
                        <p class="font-primary ">Visit my contact page to get in touch.</p>
                        <a class='btn btn-small' href='/contact'>Contact</a>
                        
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="copyright">
                    <ul>
                        <li><a href="" title="Twitter"><i class="icon-social_twitter_circle"></i></a></li>
                        <li><a href="" title="Github"><i class="icon-social_github_circle"></i></a></li>
                        <li><a href="" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a></li>
                    </ul>
                    <p class="font-primary">&copy; Diego Felipe Lafuente</a> . All
                        Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end COPYRIHT -->
</footer>
<!-- end FOOTER -->
<!-- EXTERNAL JAVASCRIPT -->
<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/js/tether.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/retina.min.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/webfont.js"></script>


<!-- MY JAVASCRIPT -->
<script type="text/javascript" src="/js/scripts.js"></script>


