<!-- HEADER -->
<header class="navbar-fixed-top">
    <div class="container">
        <div class="row">

            <!-- HEADER TOP -->
            <div class="col-lg-12">
                <div class="header-top">
                    <div class="header-top-logo">
                        <a href="/" title="Logo"><h2>Diego Lafuente</h2></a>

                    </div>
                                    
                    <nav class="header-top-nav">
                        <ul>
                            
                            <li><a href="#" class="light-link" title="Menu">
                                <div id="menu-animate-icon" class="header-top-nav-menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end HEADER TOP -->

            <!-- HEADER NAVIGATION -->
            <div class="col-lg-12">
                <nav class="header-nav">
                    <ul>
                        <li class="active"><a href="index.html" title="Start page">Start page</a></li>         
                        <li><a href="/portfolio" title="My projects">My projects</a></li>
                        <li><a href="/about" title="About me">About me</a></li>                       
                        <li><a href="/tags" title="About me">Blog Posts</a></li>
                        <li><a href="/contact" title="Contact me">Contact me</a></li>
                        
                    </ul>
                </nav>
            </div>
        </div>
        <!-- end HEADER NAVIGATION -->

    </div>
</header>
<!-- end HEADER -->
<!-- MOBILE NAVIGATION -->

<nav class="mobile-nav header-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Auto Copy Header Navigation -->
            </div>
        </div>
    </div>
</nav>
<!-- end MOBILE NAVIGATION -->