<!-- NEXT AND PREVIOUS ARTICLES -->
<div class="article-nav">
    <ul>
        <li>
            <a href="#" title="Next Article">
                <i class="pe-7s-angle-right"></i>
                <div>
                    <p>Next article</p>
                    <h3>ECMAScript 2016</h3>
                </div>

            </a>
        </li>
        <li>
            <a href="#" title="Previous Article">
                <i class="pe-7s-angle-left"></i>
                <div>
                    <p>Previous article</p>
                    <h3>Orange is the new Black</h3>
                </div>
            </a>
        </li>
    </ul>
</div>
