<!-- AUTHOR -->
            <div class="aside-blocks col-lg-4 col-xs-12">
                <aside class="author">
                    <img class='img-responsive' src="/img/diego_photo.jpg" alt="" data-rjs="2" width="100" height="100">
                    <h2>Diego Lafuente</h2>
                    <span class="author-info">Developer</span>
                    
                    {% include social.html %}
                    <ul class="author-nav">
                        <!--
                        <li><a href="" title=""><i class="pe-7s-bookmarks"></i> Download my CV</a></li>
                        -->
                        <li><a href="/contact" title=""><i class="pe-7s-paper-plane"></i> Contact Me</a></li>
                    </ul>
                </aside>
              

                <aside class="last-project">
                    <h2 class="aside-title" style='color: black'>Tools</h2>
                    <div class="last-project-one">                       
                        
                        <p class="font-primary">Ruby, Ruby on Rails, JS, Postgres,Bootstrap,Heroku </p>
                       
                    </div>
                </aside>

                <aside class="tags">

                    <h2 class="aside-title">Tags</h2>
                    <div class="tags-content">
                    {% for t in site.tags %}
                        {% assign tg=t | first %}
                                                     
                        <span class="tag tag-pill tag-default"><a href="/tags#{{tg}}">{{tg}}</a></span>                     
                             
                    {% endfor %}


                    </div>

                </aside>

            </div>