<!-- BANNER POSTS -->
<section class="banners">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="/about" title="About Me">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">About Me</h1>                            
                            
                        </div>
                    </a>
                    <img class="img-fluid" src="img/about_me_photo.jpg" alt="Post Photo" data-rjs="2">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="/portfolio" title="My Projects">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">My Projects</h1>                            
                            
                        </div>
                    </a>
                    <img class="img-fluid" src="img/cs_screen.jpg" alt="Post Photo" data-rjs="2">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="banner-wrapper">
                    <a href="blog_post.html" title="Tech Blog">
                        <div class="banner-wrapper-content">
                            <h1 class="h2">Tech Blog</h1>                            
                            
                        </div>
                    </a>
                    <img class="img-fluid" src="img/blog_photo.jpg" alt="Post Photo" data-rjs="2">
                </div>
            </div>
           
            
        </div>
    </div>
</section>
<!-- end BANNER POSTS -->